<h2 class="ui center aligned large header">Welcome to MessageMe- a complete Chatapp </h2>

<h4 class="ui center aligned small icon header">
  <i class="circular orange inverted power icon"></i>

</h4>

<div class="container">
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      
      <%= form_for(:session, :html => {class: "ui form", role: "form"}, url: login_path) do |f| %>
        <div class="field">
          <%= f.label :username %>
          <div class="ui left icon input">
            <%= f.text_field :username, placeholder: "Username"%>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password %>
          <div class="ui left icon input">
           <%= f.password_field :password, placeholder: "Password" %>
            <i class="lock icon"></i>
          </div>
        </div>
        <!-- <div class="ui orange submit button">Login</div> -->
        
        <a><%= f.submit "Login", class: "ui button orange" %></a>
   
    <% end %>
    </div>
    <div class="middle aligned column">
      
        
        
        <form class="ui form">
  
  <div class="scrolling content">
    
  <div class="field">
    <label>Username</label>
    <div class="ui left icon input">
    
    <input type="text" placeholder="Username" class="username">
    <i class="user icon"></i>
  </div>
  </div>
  <div class="field">

    <label>Password</label>
    <div class="ui left icon input">
    <input type="password" placeholder="Password" class="password">
     <i class="lock icon"></i>
  </div>
  </div>
  
  <a class="ui button orange submit-signup">Signup</a>

  </div>
</form>
      
    </div>


  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
</div>


<!-- Signup -->


